@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");body { font-family: 'pretendard', sans-serif !important; color: #111111; font-weight: 500; font-size: 16px; } 

@media (max-width: 767px) { body { font-size: 14px; } 
 }
/* reset */
p { margin-bottom: 0; } 
a,a:hover,a:focus { color: #000; text-decoration: none !important; } 
ul { list-style: none; padding: 0; margin: 0; } 
button:focus { outline: none; } 
button { border: none; background: transparent; padding: 0; } 
h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { margin: 0; } 
.form-label { margin-bottom: 0; } 
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) { margin-left: 0; } 
hr { margin: 40px 0; border-color:#888; } 
a,label { cursor: pointer; } 
img { max-width: 100%; } 
sup { font-size: .6em; top: -.6em } 

/* layout */
#wrap { position: relative; width: 100%; display: flex; flex-direction: column; } 
.inner { padding: 0 40px; width: 100%; max-width: 1220px; margin: 0 auto; } 
@media (max-width: 767px){
 .inner { padding: 0 20px; } 
 }
#ct { flex: 1; } 

/* font-size */
.fs-1 { font-size: 4rem !important; } 
.fs-2 { font-size: 2rem !important; } 
.fs-3 { font-size: 1.25rem !important; } 
.fs-4 { font-size: 1.125rem !important; } 
.fs-5 { font-size: .9375rem !important; } 

/* color */
.text-blue { color: #0f2996 !important; } 
.text-skyblue { color: #6490F0 !important; } 
.text-ylw { color: #FFCC00 !important; } 
.text-lightgray { color: #454545 !important; } 
.bg-blue { background-color: #0f2996 !important; } 
.bg-ylw { background-color: #FFCC00 !important; } 

/* font-weight */
.text-semibold { font-weight: 600; } 
.text-bold { font-weight: 700; } 

/* Icon */
.icon { display: inline-block; overflow: hidden; margin: 0; padding: 0; border: 0; background-color: transparent; background-position: 50% 50%; background-repeat: no-repeat; font-size: 0; line-height: 0; text-decoration: none; vertical-align: middle; text-indent: -1000em; background-size: auto 100%; outline: 0 !important; width: 1.5rem; height: 1.5rem; background-size: contain } 
.icon-arr-blue { background-image: url('../images/icon/arr-blue.svg') } 
.icon-arr-fill { background-image: url('../images/icon/arr-fill.svg') } 
.icon-arr-ylw { background-image: url('../images/icon/arr-ylw.svg') } 
.icon-benefit-01 { background-image: url('../images/icon/Benefit-01.svg') } 
.icon-benefit-02 { background-image: url('../images/icon/Benefit-02.svg') } 
.icon-benefit-03 { background-image: url('../images/icon/Benefit-03.svg') } 
.icon-benefit-04 { background-image: url('../images/icon/Benefit-04.svg') } 
.icon-benefit-05 { background-image: url('../images/icon/Benefit-05.svg') } 
.icon-benefit-06 { background-image: url('../images/icon/Benefit-06.svg') } 
.icon-benefit-07 { background-image: url('../images/icon/Benefit-07.svg') } 
.icon-bullet-logo { width: 0.8rem; height: 0.8rem; background-image: url('../images/icon/bullet-logo.svg') } 
.icon-bullet { background-image: url('../images/icon/bullet.svg') } 
.disabled .icon-down { background-image: url('../images/icon/down-off.svg') } 
.icon-down { background-image: url('../images/icon/down.svg') } 
.icon-download { background-image: url('../images/icon/download-blk.svg') } 
.icon-favicon { background-image: url('../images/icon/favicon.png') } 
.icon-info { background-image: url('../images/icon/info.svg') } 
.icon-location { background-image: url('../images/icon/location.svg') } 
.icon-logo-blue { background-image: url('../images/icon/logo-blue.svg') } 
.icon-logo { background-image: url('../images/icon/logo.svg') } 
.icon-pattern { background-image: url('../images/icon/pattern.svg') } 
.icon-pen-ylw { background-image: url('../images/icon/pen-ylw.svg') } 
.icon-pen { background-image: url('../images/icon/pen.svg') } 
.icon-plus { background-image: url('../images/icon/plus.svg') } 
.icon-polygon { background-image: url('../images/icon/polygon.svg') } 
.icon-system-01-ylw { background-image: url('../images/icon/system-01-ylw.svg') } 
.icon-system-01 { background-image: url('../images/icon/system-01.svg') } 
.icon-system-02 { background-image: url('../images/icon/system-02.svg') } 
.icon-system-03 { background-image: url('../images/icon/system-03.svg') } 
.icon-system-04 { background-image: url('../images/icon/system-04.svg') } 
.icon-system-05 { background-image: url('../images/icon/system-05.svg') } 
.icon-system-06 { background-image: url('../images/icon/system-06.svg') } 
.icon-system-07 { background-image: url('../images/icon/system-07.svg') } 
.icon-system-08 { background-image: url('../images/icon/system-08.svg') } 
.icon-system-09 { background-image: url('../images/icon/system-09.svg') } 
.disabled .icon-up { background-image: url('../images/icon/up-off.svg') } 
.icon-up { background-image: url('../images/icon/up.svg') } 
.icon-variant4 { background-image: url('../images/icon/variant4.svg') } 
.icon-polygon-down { background-image: url('../images/icon/Polygon-down2.svg'); background-size: 100% 100%; width: .875rem; height: .875rem; vertical-align: middle; } 
.icon-arrow-right { background-image: url('../images/icon/arrow-right.svg'); background-size: 100% 100%; width: .875rem; height: .875rem; vertical-align: middle; } 
.icon-polygon-down-ylw { background-image: url('../images/icon/Polygon-down-ylw.svg'); background-size: 100% 100%; width: .875rem; height: .875rem; vertical-align: middle; } 
.icon-close { background-image: url('../images/icon/icon-close.svg'); width: 2.875rem; height: 2.875rem; vertical-align: middle; } 
.icon-file { background-image: url('../images/icon/file.svg'); width: 1.5rem; height: 1.5rem; vertical-align: middle; } 

/* margin */
.mt-3 { margin-top: 1.875rem !important; } 
.ms-4 { margin-left: 1.25rem !important; } 
.mt-4 { margin-top: 1.25rem !important; } 
.me-4 { margin-right: 1.25rem !important; } 
.mb-4 { margin-bottom: 1.25rem !important; } 
.mt-5 { margin-top: .625rem !important; } 
.w-85 { width: 85% !important; } 

/* gradient */
.text-gradient { font-size: 50px; font-weight: bolder; background-image: linear-gradient(to right, #032AFF, #42C0FF, #FFCC00); background-clip: text; -webkit-background-clip: text; color: transparent; } 
.border-gradient { border: 2px solid transparent; border-radius: .625rem; background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #FFCC00 0%, #42C0FF 50%, #0F2996 100%); background-origin: border-box; background-clip: content-box, border-box; } 
.bg-gray { background: #F2F3F8; } 

/* component */
/* box */
.bx-content span { color: #0f2996; display: inline-block; word-break: keep-all;} 
/* .bx .bx-img { border-radius: 10px; } */
.bx-title { font-weight: 600; line-height: 1.75rem; font-size: 1.25rem; margin-top: 1.25rem; } 
.bx-title.add-num { font-weight: 700; } 
.bx-sub { margin-top: .75rem; color: #454545; font-size: .9375rem; } 

/* badge */
.badge-content p { font-size: 1.25rem; font-weight: 700; line-height: 1.5rem; } 
.badge-title { font-weight: 700; display: flex; align-items: flex-start; } 
.badge-title i { margin-right: 10px; width: 14px; height: 14px; margin-top: calc(.75rem - 7px); vertical-align: top; } 

/* tag */
.tag { display: inline-block; width: 3.75rem; height: 1.25rem; padding: .1563rem .2188rem; font-size: .875rem !important; text-align: center; border-radius: 2px; line-height: 1; } 
.tag-data { background-color: #FFF8CD !important; color: #FFCC00; } 
.tag-news { background-color: #EFF9FF !important; color: #0F2996 !important; } 
.tag-notice { background-color: #FFE5E5 !important; color: #F10000 !important; } 

/* Button */
b, a, button { font-weight: 600; } 
strong { font-weight: 700; } 
.btn { display: inline-block; padding: .75rem 1.875rem; border-radius: 0; font-size: 1rem; font-weight: 600; line-height: 1.1931rem; text-align: center; } 
.btn-light-blue { background: #DFF1FF } 
.btn-light-blue:hover { background: #CFEAFF } 
.btn-outline { border: 1px solid #0f2996; color: #0f2996; } 
.btn-outline:hover { background: #F6F6F6; color: #0f2996; } 
.btn-fill { background-color: #0f2996; color: #fc0; } 
.btn-fill:hover { background-color: #0A185C; color: #FFCC00; } 
.btn-ylw { background-color: #FFCC00; color: #0F2996 !important; font-size: 1.125rem; padding: 1rem 0; } 
.btn-ylw:hover { background-color: #FFBB00; } 

/* list */
.list-dot>li,.list-dot>a { position: relative; padding-left: 10px; line-height: 1.5em; } 
.list-dot>li:before,.list-dot>a::before { content: ''; position: absolute; width: 4px; height: 4px; border-radius: 100%; background: currentColor; top: .75em; left: 0; margin-top: -2px; } 
.list-dot>a:before { left: 0; } 
.list-dot>li:not(:first-child),.list-dot>a:not(:first-child) { margin-top: 6px; } 


/* header */
#hd { position: fixed; left: 0; right: 0; width: 100%; height: 3.75rem; border-bottom: 3px solid #0F2996; background-color: #fff; z-index: 10; } 
.hd-inner { display: flex; justify-content: space-between; align-items: center; padding: 0 20px; width: 100%; height: 100%; margin: 0 auto; max-width: 1180px; } 
@media (max-width: 767px){
 .hd-inner { padding: 0 20px; } 
 }
.hd-inner .logo { width: 9.0625rem; height: 1.625rem; background: url(../images/icon/logo-blue.svg) no-repeat; background-size: 100% 100%; position: relative; z-index: 20; } 
.header-menu { display: none; } 

/* main */
main { margin-top: 3.75rem; } 

/* gnb */
#gnb { position: fixed; top: 0; right: 0; width: 100%; transform: translateX(100%); height: 100vh; overflow-y: auto; background-color: #fff; list-style: none; padding: 3.75rem 1.25rem 1.25rem; margin: 0; transition: all .3s ease; display: flex; flex-direction: column; z-index: 6; opacity: 0; display: flex; flex-direction: column; text-align: center; } 
.gnb-open #gnb { transform: translateX(0); z-index: 8; opacity: 1; } 
body.gnb-open{ overflow: hidden; height: 100vh; }
.gnb { font-size: 24px; line-height: 84px; font-weight: 700; padding: 27px 0 } 
.gnb-btm { margin-top: auto; width: 100%; font-size: 12px; font-weight: 600; } 
.gnb-btm .btn { width: 100%; color: #0F2996; background: #DFF1FF; padding: 18px; margin-bottom: 27px; border-radius: 0; } 
.gnb-btm .copy { color: #6D6D6D; margin-top: 4px; font-weight: 500; } 


/* 햄버거 버튼 스타일링 */
.hamburger-menu { cursor: pointer; z-index: 20; } 
.hamburger-btn { position: relative; } 
.hamburger-btn:before { content: ''; position: absolute; width: 60px; height: 60px; top: 50%; left: 50%; margin: -30px; } 
.hamburger-btn .bar { width: 18px; height: 2px; background-color: #0F2996; margin: 4px 0; transition: 0.4s; z-index: 20; border-radius: 4px; } 
.gnb-open .hamburger-btn .bar { width: 24px; background: #000; } 
.gnb-open .hamburger-btn .bar:nth-child(1) { transform: rotate(-45deg) translate(0, -3px); transform-origin: top right; } 
.gnb-open .hamburger-btn .bar:nth-child(2) { opacity: 0; } 
.gnb-open .hamburger-btn .bar:nth-child(3) { opacity: 1; transform: rotate(45deg) translate(0, 3px); transform-origin: bottom right; } 

/* 제목 있는 상자 */
.main-img .inner p { font-weight: 800; line-height: 2.4375rem; color: #fff; } 
.main-block { text-align: center; } 
.main-block .main-title { color: #0f2996; font-size: 1.125rem; font-weight: 700; } 
.main-block .main-sub { margin: 0.625rem 0; font-weight: 700; line-height: 1.3; font-size: 26px; } 

/* 현지조사대응 */
.num-lightgray { background-color: #E7E7E7 !important; color: #000 !important; } 
.border-lightgray { border: 1px solid #D1D1D1 !important; border-radius: .625rem !important; } 


 /* Modal */
.modal-dialog { margin-left: auto; margin-right: auto; width: 89% } 
.modal-content { border: 0; box-shadow: none; } 
 #applyNow .modal-header { border-bottom: none; padding: 1rem 1rem 0; padding: 50px 20px 0; } 
 #applyNow .modal-title { font-size: 32px; line-height: 46px; font-weight: 700; } 
 #applyNow .modal-body { padding: 0 20px; } 
#applyNow .modal-content { border-radius: 0; } 
 #applyNow .modal-body hr { margin: 25px 0; } 
 #applyNow .form-box { padding: 0; } 
 #applyNow .location-search { background-color: #fff; border: 1px solid #D1D1D1; margin-top: 0; border-radius: 0; } 
 #applyNow .location-search span { color: #B0B0B0; } 
 #applyNow .modal-ps { font-size: 14px; line-height: 16.8px; color: #6D6D6D; margin: 10px 0 20px; } 
 #applyNow .modal-footer { border: 0; padding: 0 20px 60px; justify-content: center; } 
 #applyNow .modal-footer .btn-fill { width: 100%; color: #fff; padding: 16px 0; font-size: 18px; } 
 #applyNow .form-box.check .form-checkbox { gap: 0; } 
 #applyNow input[type=file] { display: none; } 
 #applyNow .input-group.form-box { display: block; } 

.input-group.error input:not(input[type=radio]),
.input-group.error .label-error,
input-group.error a,
.input-group.error label.form-label { border: 1px solid #f00 !important; } 
 .error input::placeholder { color: #f00; } 
 .error-text { margin-top: 6px; color: #FF2727; font-size: 14px; } 
.input-group.error input::placeholder { color: #f00; } 
.input-group.error { align-items: start; } 
.form-checkbox.error { gap: 0; } 
.input-box input, .input-box textarea { width: 100%; font-size: 16px;} 
.form-checkbox .error-text { margin-top: 0; } 

.up-filelist { width: 100% !important; font-size: 14px; line-height: 18px; } 
.up-filelist>li { display: flex; margin-top: 5px; } 
.up-filelist a { max-width: calc(100% - 23px); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-weight: 400; color: #666; } 
.up-filelist .icon-x { flex-shrink: 0; margin-left: 0; width: 18px; height: 18px; background: url(../images/icon/x.svg) no-repeat 0 0/100% auto; margin-left: 5px; opacity: .5; } 

.modal-alert .modal-dialog { max-width: 400px; } 
 .modal-alert .modal-content { padding: 30px; justify-content: space-between; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,.1); word-break: keep-all; } 
 .modal-alert .modal-header { justify-content: center; border-bottom: none; padding: 0; font-size: 32px; color: #0F2996; font-weight: 700; line-height: 46px; } 
 .modal-alert .modal-body { padding: 12px 0 20px; text-align: center; line-height: 28px; } 
 .modal-alert .modal-footer { padding: 0; border-top: none; } 
 .modal-alert .btn-outline { width: 100%; background-color: #F6F6F6; color: #3d3d3d; border: none; padding: 16px 0; } 

 .modal-alert .btn-outline:hover { background: #d1d1d1; } 

 .modal-footer>* { margin: 0; } 


/* footer */
.ft { padding: 40px 0; font-size: 14px; font-weight: 500; background: #FFCC00; } 
.ft .inner { padding: 0 20px; max-width: 1180px; display: flex; align-items: center; flex-wrap: wrap; } 
.logo-block { display: inline-flex; align-items: center; gap: 20px; font-size: 14px; font-weight: 700; } 
.contact-info { display: flex; margin: 0 auto; font-weight: 300; gap: 0 12px; justify-content: center; } 
.contact-info a { font-weight: 500; } 
.ft .dropdown { width: 100%; margin-top: 12px; } 
.ft-info { position: static !important; border: 0; padding: 0; transform: none !important; border-radius: 0; background: none; font-size: 14px; color: #111; font-weight: 500; gap: 0 5px; border-radius: 0; white-space: nowrap;} 
.ft span { font-weight: 300; } 
.ft a { font-weight: 500; } 

/* Service */
.service .bx-title { margin-top: 0; align-items: center; } 
.bx-border { border: 1px solid #D1D1D1; border-radius: 10px; } 
.add-num { display: flex; gap: 6px; line-height: 24px; } 
.add-num .num { margin: 2px 0; } 
span.num { display: inline-block; background-color: #0F2996; width:20px; height: 22px; color: #fff; text-align: center; font-size: 1rem; font-weight: 600; line-height: 24px; margin-top: 3px; flex-shrink: 0;} 


 /* pc버전 서비스 tabs */
 #service-tabs { display: flex; justify-content: center; width: 100%; position: sticky; top: 77px; background: #fff; z-index: 11; margin-top: 40px; } 

 #service-tabs .tab-wrap { display: flex; justify-content: center; align-items: center; width: 1140px; font-size: 16px; } 
 #service-tabs .tab-wrap a { padding: 13px 0; flex: 1; text-align: center; border-bottom: 2px solid #d1d1d1; } 
 #service-tabs .tab-wrap a.active { border-bottom: 3px solid #0f2995; color: #0f2996; } 
#service-tabs .tab-wrap a:not(.active):hover { color: #0f2996; } 

#service-tabs.is-sticky { background-color: #0f2996; } 
#service-tabs.is-sticky .tab-wrap a { background-color: #0f2996; color: #fff; border-color: transparent; } 
 #service-tabs.is-sticky .tab-wrap a.active { border-bottom: 3px solid #fc0; color: #fc0; } 
 #service-tabs.is-sticky .tab-wrap a:not(.active):hover { color: #fff; background-color: #0a185c; } 
 /* service- sidebar */
.service .main-content { display: flex; gap: 40px; align-items: flex-start; } 
.service.inner .content-left { width: 100%; max-width: 880px; padding-bottom: 100px; } 
.service .sidebar { display: flex; flex-direction: column; gap: 20px; width: 220px; position: sticky; top: 146px; background-color: transparent; padding-bottom: 50px; } 
.sidebar>.nav-link { display: flex; align-items: center; } 
.sidebar .nav-link.active { color: #0F2996; } 
.sidebar .nav-link.active .num-circle { background:#0F2996; color: #fff; } 
.sidebar .nav-link { padding: 0; color: black; font-weight: 600; } 
.sidebar .nav.flex-column { gap: 12px; margin-top: -8px; } 
.sidebar .nav.flex-column .nav-link { padding-left: 10px; margin: 0 0 0 32px; font-weight: 400; color: #111; } 
.sidebar .nav.flex-column .nav-link:before { left: 0 } 
.sidebar .nav-link .num-circle { display: inline-block; width: 24px; height: 24px; background-color: #E7E7E7; text-align: center; border-radius: 50%; margin-right: 8px; font-size: 14px; line-height: 24px; } 
.sidebar .nav-link .list-dot { padding-left:33px; margin-top: 12px; } 
.sidebar .nav-link.active .list-dot > li::before { background: #0F2996; } 






/* table */
.tb th, .tb td { padding: 10px 20px; border: 1px solid #D1D1D1; } 
.tb td { padding: 15px 20px; } 
.tb tr>*:first-child { border-left: none; } 
.tb tr>*:last-child, .tb.m-tb tbody th { border-right: none; } 
.tb.pc-tb thead th { background-color: #E8F4FF; text-align: center; font-size: 16px; font-weight: 700; } 

.tb-title { background-color: #F6F6F6; text-align: center; width: 120px; font-weight: 700; } 
.tb.m-tb { display:none; } 
.tb.m-tb caption { color: #111; font-size: 16px; padding: 13px 0; font-weight: 700; text-align: center; background-color: #e8f4ff; border-top: 1px solid #d1d1d1; border-bottom: 1px solid #d1d1d1; } 
.m-tb th, .m-tb td { border: none; } 
.tb.m-tb tr { display: flex; flex-direction: column; } 
.tb.m-tb tbody tr:not(:first-child) { border-top: 1px solid #d1d1d1; } 
.tb.m-tb:last-child { border-bottom: 1px solid #d1d1d1; } 
.tb.m-tb .list-tit { font-size: 16px; line-height: 24px; font-weight: 700; } 

.tb.m-tb .list-dot { font-size: 14px; line-height: 22px; margin-top: 7px; } 

.tb.m-tb .list-dot > li:not(:first-child) { margin-top: 5px; } 



/* 서비스 -성과 구역 컴포넌트 result-bg 참고 */
.bx-content:not(.no-title) { padding: 21.5px 0; text-align: center; } 
.bx-content h3 { margin-top: 0; } 

.bx-content p { margin-top: 15px; font-size: 16px; font-weight: 500; line-height: 24px; text-align: center; } 
.no-title { padding: 24px; text-align: center; } 
.bx-content.no-title p { margin-top: 0 !important } 


/* form */
input[type=text] { height: 46px; padding: 0 20px; } 
input[type=text], textarea { border: 1px solid #D1D1D1; } 
input::placeholder { color: #B0B0B0; font-size: 16px; } 
.form-check-input { -webkit-appearance: none; -moz-appearance: none; appearance: none; width: 14px; height: 14px; border-radius: 50% !important; background: #fff !important; position: relative; cursor: pointer; border: 0; margin-top: 0; flex-shrink: 0; border: 7px solid #E7E7E7; box-shadow: none !important; } 
.form-check-input:checked { border: 4px solid #0F2996; } 
button[type="submit"] { display: flex; justify-content: center; align-items: center; gap: 8px; margin: 0 auto; } 
textarea { padding: 10px; resize: none; height: 120px; padding: 13px 20px; } 
textarea::placeholder { color: #B0B0B0; font-size: 16px; } 

/* swiper */
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal { bottom: 35px; font-size: 0; } 
.swiper-pagination-bullet { width: 10px; height: 10px; background: #C1C1C1; opacity: 1; margin: 0 8px !important } 
.swiper-pagination-bullet-active { background: #FFCC00 !important } 

/* 지도 */
.location-map { position: relative; } 
.location-map:before { content: ''; display: block; padding-bottom: 43.85%; } 
.root_daum_roughmap { position: absolute !important; top: 0; left: 0; width: 100% !important; height: 100%; } 
.location-map .root_daum_roughmap_landing .border2 { display: block; } 
.location-map .root_daum_roughmap .wrap_map { height: 100%; } 
.root_daum_roughmap .wrap_controllers { display: none; } 

.form-flex { display: flex; gap: 30px; } 
.input-group span { flex: 1; } 
.form-check { display: flex; width: 100%; justify-content: space-between; align-items: center; } 

/* 문의 공통 사항 */
.hr-blk { height: 1.5px !important; opacity: 1; color: #888888; } 
.hr-gray { height: 1px !important; color: #888888; opacity: 1; } 
.call section { margin-top: 0; margin-bottom: 0; } 
.call .main-block { margin-top: 80px; margin-bottom: 50px; } 
.call .main-block.block2 { margin-top: 50px; } 
.call .block2 .main-sub {font-size: 26px;}
.call .channel-separate { background-color: #fff; padding: 0 30px; } 
.call .content-text { display: flex;} 
.call .content-btn {background: #FFCC00; border: none;}

/* 별표 .require */
strong.require::after { content: '*'; color: #6490F0; margin-left: 6px; display: inline-block; width: 14px; height: 14px; } 
.add-word { color: #b0b0b0; font-size: 14px; line-height: 18px; margin-top: 8px; } 

/* download */
.download { display: flex; justify-content: center; align-items: center; gap: 30px; padding-bottom: 0; } 
.download .download-separate { flex: 1; } 
.download-separate .content-box { display: flex; align-items: center; justify-content: space-between; gap: 20px; background-color: #f6f6f6; padding: 20px 30px; } 
.download-separate .content-box .content-text h4 { font-weight: 700; } 

/* 공통 Form-box */
.form-box { display: flex; flex-direction: column; } 

/* channel */
.channel label, .inquiry .check label { background-color: #fff; padding: 13px 20px; display: flex; align-items: center; justify-content: space-between; flex: 1; } 
.channel label,.inquiry .check label,
.inquiry input:not(.form-check-input) { border: 1px solid #D1D1D1; } 
.channel .form-box { margin-top: 16px; gap: 16px; } 
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) { border-radius: 4px; } 

/* injury */
.inquiry .form-box { padding: 0 30px; } 
.inquiry .input-group .input-label-text { width: 100px; display: inline-block; height: 45px; padding: 13px 0; } 
.inquiry .form-box:not(.check) { gap: 20px; } 
.form-box.check { flex-direction: row; margin-top: 20px; gap: 30px; } 
.form-box.check .form-checkbox { display: flex; flex-direction: column; gap: 16px; } 
.form-box.check .content-text { width: 100px; height: 106px; padding: 13px 0; flex-shrink: 0; } 
.inquiry :is(.form-box:first-child,.form-box.one-row) .input-group input { flex: 3; padding: 13px 20px; border-radius: 0; } 
.form-box.check .form-checkbox { width: 100%; } 
.inquiry .form-box.one-row .input-group input { flex: 8; } 
.one-row,.form-box.content { margin-top: 20px; } 
.form-box.content .input-group { width: 100%; display: flex; } 
.input-group:not(.form-box.content .input-group) { width: 100%; display: flex; } 
.input-group { gap: 0 30px; } 
.input-group>:not(.input-label-text) { margin-left: 0; flex: 1 1 auto; width: 1%; min-width: 0; } 
label:has(.form-check-input:checked) { border-color: #0F2996; } 


/* agree */
.agree { position: relative; background-color: #F6F6F6;  padding: 32px 30px; } 
.agree input { width: 20px; height: 20px; margin-top: 0.125em; border: 1px solid #D1D1D1; appearance: none; background: #fff; cursor: pointer; } 
.agree input:checked { background-color: #007bff; border-color: #007bff;position: relative; } 
.agree input:checked::after { content: "✔"; color: white; font-size: 14px; font-weight: bold; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } 

.agree .form-box .input-group label { margin-left: 8px; } 

.agree .form-box { gap:12px; } 
.agree .form-box { gap:12px; } 
.agree a { position: absolute; top: 32px; right: 30px; text-decoration: underline; white-space: nowrap; font-weight: 400; font-size: .875rem; font-weight: 400; } 

.agree .form-box .sub-text { font-size: .875rem; font-weight: 400; } 

/* btn */
.btn.submit { margin: 50px auto 0; width: 240px; display: flex; justify-content: center; align-items: center; transition: 0.5s; color: #fff; padding: 16px 75px; line-height: 1;} 
.btn.submit:hover { background: #0A185C !important;} 
/* .btn.submit:hover { background: #FFBB00; }  */


/* location */
.location { padding-top: 90px; } 
.location-group address { margin-bottom: 12px; } 
.location-group address span,.location-group .tel span { font-weight: 400; } 
.location-separate { margin-top: 50px; margin-bottom: 100px; display: flex; justify-content: space-between; align-items: center; } 
.location h5 { margin-right: 30px; font-size: 16px; display: inline-block; font-weight: 600; } 
.location-search { background-color: #F6F6F6; flex-shrink: 0; padding: 13px 20px; display: flex; justify-content: space-between; align-items: center; text-decoration: none; width: 240px; transition: 0.5s; color: #454545; } 
.location-search:hover { background: #E7E7E7; } 
.location-inquiry-content { display: flex; gap: 0 16px; flex-wrap: wrap; } 
.location-inquiry-box { display: flex; gap: 8px; margin-top: 12px; } 
.location-inquiry-content,
.location-inquiry-content > * { display: flex; align-items: center; } 

@media (min-width: 992px) { hr { margin: 50px 0; } 
.main-block .main-sub { font-size: 32px; } 


/* Header */
#hd { height: 5rem; } 
.hd-inner .hamburger-menu { display: none; } 
#hd .hd-inner .logo { position: static; } 

/* header-menu */
#hd .hd-inner .logo { width: 185px; height: 30px; background: url(../images/icon/logo-blue.svg) no-repeat; background-size: 100% 100%; } 
.header-menu { display: flex; font-weight: 600; flex: 1 } 
.header-menu ul { display: flex; justify-content: space-between; align-items: center; gap: 2.5rem; margin: 0 auto; font-size: 18px; } 
.header-menu ul li a:hover, .header-menu ul li a.active { color: #0f2996; } 
.header-menu .btn { padding: .6563rem 1.875rem; font-size: 1rem; line-height: 1.2rem; font-weight: 600; border-radius: 0; } 
.header-menu .btn-fill { background: #E7E7E7 !important; color: #111 !important; } 
.header-menu .btn-ylw { margin-right: 10px; background: #DFF1FF !important } 
.header-menu .btn-ylw:hover { background: #CFEAFF !important; } 
.header-menu .btn-fill:hover { background: #DFDFDF !important; } 
.header-menu>div { font-size: 0; } 
/* main */
main { margin-top: 5rem; } 


/* modal */
 /* 지원서 작성 */
 #applyNow .modal-body hr { margin: 30px 0; } 
 #applyNow .modal-dialog { max-width: 740px; } 
 #applyNow .modal-body { padding: 0 30px; } 
 #applyNow .form-flex { flex-direction: column; } 
 #applyNow .form-box.check .form-checkbox { width: auto; margin: 0; } 
 #applyNow .form-checkbox .form-flex { flex-direction: row; } 
 #applyNow .location-search { border-radius: 0; } 
 #applyNow .agree { padding: 32px 30px; } 
 #applyNow .agree a.pc { display: block; position: static; width: auto; background-color: transparent; border: 0; padding: 0; } 
 #applyNow .agree a.pc u { text-decoration: underline; } 
 #applyNow .agree a.mob { display: none; } 
 #applyNow .modal-ps br { display: none; } 
 #applyNow .modal-footer { padding: 0 30px 50px; } 
 #applyNow .modal-footer .btn-fill { width: 250px; margin-top: 30px; } 
 #applyNow .input-group.form-box { display: flex; flex-direction: row; justify-content: start; } 
 #applyNow .inquiry .input-group .content-text { width: 100px; } 
#applyNow .modal-header { padding: 50px 30px 0; } 
 #applyNow .modal-body { padding: 0 30px; } 

.up-filelist { max-width: calc(100% - 130px) !important; margin-left: auto !important; } 


.badge-title i { width: 10px; height: 10px; margin-top: calc(.75rem - 5px); } 
.flex-item .bx-content p { margin-top: 16px; } 
 }

.d-sm-only { display: none; } 
.d-md-only { display: none; } 
.d-lg-only { display: block; } 





@media (max-width: 1199px){
    .ft { padding-bottom: 0; } 
    .ft .inner { text-align: center; display: block } 
    .ft-text { font-weight: 700; margin: 12px 0; } 
    .ft .dropdown { margin: 20px -20px 0; border-top: 1px solid rgba(0,0,0,.2); width: calc(100% + 40px); } 
    .ft [data-bs-toggle="dropdown"] { display: flex; align-items: center; justify-content: space-between; padding: 20px; width: 100%; color: #111; } 
    .ft [data-bs-toggle="dropdown"]:after { content: ''; width: 9px; height: 5px; background: url(../images/icon/dropdown_blk.svg) no-repeat; } 
    .ft [data-bs-toggle="dropdown"][aria-expanded="true"]:after { content: ''; width: 9px; height: 5px; background: url(../images/icon/dropdown_blk-show.png) no-repeat; } 
    .ft-info.show { padding: 15px 20px; background: #ECBD00; } 
    .contact-info { max-width: 360px; margin: 0 auto; gap: 0; justify-content: space-between; } 
    .ft-info .address { font-weight: 700; order: 7; width: 100% } 


    /* footer */
    .ft .inner, .ft-info { font-size: 12px; } 
    .ft-info { line-height: 20px; } 
    .ft-info.dropdown-menu { height: 0; overflow: hidden; } 
    .ft-info.dropdown-menu.show { height: 100%; } 
}

@media (max-width: 991px){
    /* header */
    body:not(.is-scroll):not(.gnb-open) .index #hd { background: none; border: 0; } 
    body:not(.is-scroll):not(.gnb-open) .index #hd .bar { background: #fff; } 
    body:not(.is-scroll):not(.gnb-open) .index #hd .logo { background-image: url(../images/icon/logo.svg); } 
    /* inquiry */
    .inquiry :is(.form-box:first-child,.form-box.one-row) .input-group input { padding: 19px 20px; height: 56px; }
    .inquiry :is(.form-box:first-child,.form-box.one-row) .input-group input::placeholder { font-size: 14px; }
}