/* 불필요시 삭제 */
.pc-br { display: none; } 

/* index */
.index .main-block { padding-bottom: 1.875rem; } 
.index .main-title { font-size: 0; line-height: 0; position: absolute; left: -9999em; color: transparent; } 
.index .main-sub { font-size: 22px; line-height: 30px; margin: 0; } 

.index .flex-container { display: grid; grid-template-columns: repeat(3, 1fr); gap: 15px } 
.index .flex-item .bx-content strong { font-size: 64px; font-weight: 700; line-height: 64px; color: #0F2996; } 
.index .flex-item .bx-content strong+span { font-size: 32px; margin-left: 6px; } 
.index .flex-item .bx-content p { margin-top: 16px; margin-top: 7px; font-weight: 500; line-height: 21px; text-align: center; } 
.index .flex-item .bx-content strong+span { line-height: 29px; } 
.index .flex-item .bx-content p { font-size: 18px; line-height: 21.6px; color: #111111; } 


.index .bx-content { background: #fff; padding: 20px 0 24px; } 
.index section { margin-top: 95px; } 


.main-swiper [class*=swiper-button] { width: 21px; height: 38px; top: 50%; margin-top: -19px; background: url(../images/icon/swiper-button.svg) no-repeat; } 
.main-swiper [class*=swiper-button]::after { display: none; } 
.main-swiper .swiper-button-next { right: 20px } 
.main-swiper .swiper-button-prev { transform: scaleX(-1); left: 20px } 
.main-swiper .swiper-pagination-bullet { background: rgba(255,255,255,.4); } 

@media (min-width: 1200px){
 .main-swiper .swiper-button-next { right: 50%; margin-right: -570px; } 
 .main-swiper .swiper-button-prev { left: 50%; margin-left: -570px; } 
 }


/* Media */
.sec-media .bx-title { margin-top: 0; } 
.sec-media .bx-img { width: 100%; overflow: hidden; position: relative; } 
.sec-media .bx-img:before { content: ''; padding-bottom: 52.8%; display: block; } 
.sec-media .bx-img img { position: absolute; top: 0; left: 0; width:100%; height:100%; object-fit:cover } 
.sec-media .bx-content { padding: 20px 10px 16px; display: flex; flex-direction: column-reverse; text-align: left; background: none; } 
.sec-media .bx-sub { margin-top: 0; text-align: left; margin-bottom: 8px; } 


/* Why */
.sec-why .bx-img { border-radius: 0; width: 100%; height: 220px; } 
.sec-why .bx-img img { width:100%; height:100%; object-fit:cover; } 
.sec-why .bx-content { padding: 1.75rem 1.5rem; background-color: #fff; text-align: left; } 
.sec-why .bx-title { margin-top: 0; color: #0F2996; line-height: 23.87px; } 
.sec-why .bx-sub { margin-top: 16px; font-size: 18px; line-height: 28px; color: #111; } 
.why-separate .bx:not(:first-child) { margin-top: 15px; } 


/* Service */
/* Service-02 */
.sec-service-02 .big-data { display: flex; justify-content: center; gap: 15px; margin-top: 20px; padding-bottom: 60px; } 
.sec-service-02 .big-data .bx { flex: 1; margin-top: 0; background: #fff; } 
.sec-service-02 .big-data { padding-bottom: 40px; } 
.sec-service-02 .bx-img { border-radius: 0; width: 100%; height: 220px; overflow: hidden; } 
.sec-service-02 .bx-img img { width:100%; height:100%; object-fit:cover; } 
.sec-service-02 .bx-content { padding: 1.5rem .25rem; text-align: center; word-break: keep-all; } 
.sec-service-02 .bx-title { margin-top: 0; color: #0F2996; line-height: 23.87px; } 
.sec-service-02 .bx-sub { margin-top: 0px; font-size: 18px; line-height: 1.56; color: #111111; } 


@media (max-width: 767px){
 .sec-service-02 .big-data { display: block; } 
 .sec-service-02 .big-data .bx { margin-top: 20px; } 
 }

/* 분석 시스템 */
.analyze-system .badge-content { padding-bottom: 26px; } 

/* 드롭다운 버튼 */
.analyze-flex .btn-secondary { display: flex; justify-content: space-between; align-items: center; border: none; border-radius: 0; background-color: #EFF9FF; color: #42C0FF !important; width: 100%; padding: 15px 20px 14px 17px; border-top: 2px solid #42C0FF; line-height: 24px; } 
.analyze-flex .btn-secondary:after { content: ''; width: 10px; height: 7px; background: url(../images/icon/analyze-drop.svg) no-repeat; border: 0; } 
.analyze-flex .btn-secondary.show:after { background-image: url(../images/icon/analyze-dropup.svg); } 
.analyze-flex .btn-secondary .button-text .icon { filter: invert(68%) sepia(72%) saturate(3570%) hue-rotate(185deg) brightness(105%) contrast(101%); margin-right: .4375rem; } 
.index .button-text .icon { margin-right: .4375rem; } 

/* 드롭다운 메뉴 */
.analyze-system .dropdown-menu.show { width: 100%; border: none; margin: 0; border-radius: 0; } 
.analyze-system .dropdown-item { display: flex; justify-content: start; align-items: center; border: none; border-radius: 10px; width: 100%; padding: .8125rem 1rem; color: #111; font-weight: 600; } 
.index .analyze-btn-group { display: none; } 
.analyze-system .dropdown-menu:not(.show) { display: none; } 
.analyze-system .dropdown-item.active { background-color: #fff; color: #0f2996; } 

/* tab-content */
.sec-service-02 .tab-content .cnt-box { padding: 25px 0; margin-top: 15px; } 
.sec-service-02 .tab-content .cnt-text { padding: 0 20px 10px; } 
.sec-service-02 .tab-content .cnt-img { padding: 0 20px; } 
.sec-service-02 .tab-content .cnt-img img { width: 100%; height: 100%; border: 1px solid #d1d1d1;} 
.sec-service-02 .analyze-system .cnt-title { color: #0f2996; font-size: 18px; line-height: 21.6px; font-weight: 600; } 
.sec-service-02 .analyze-system .cnt-text .cnt-sub { line-height: 1.6; margin-top: .8125rem; } 


/* People */
.sec-people .main-sub .pc-br { display: block; } 

.people-btm { display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: 1fr; gap: 15px; margin-top: 15px; } 
.people-img { width: 100%; height: 150px; overflow: hidden; grid-area: 1 / 2 / 2 / 3; } 
.people-img img { width: 100%; height: 100%; object-fit: cover; object-position: 100% 60%; } 
.people-list { flex: 1 0 31%; width: 100%; display: flex; flex-direction: column; justify-content: center; margin-top: 0; height: 150px; padding: 0 22.5px; background-color: #fff; } 
.people-list li { color: #111; font-size: 16px; letter-spacing: -0.01em; } 


@media (max-width: 991px){
 .people-img img { object-position: 100% 80%; } 
 }

@media (max-width: 767px){
 .people-btm { margin-top: 10px; } 
 .sec-people .flex-item .bx-content p{
  margin-top: 0;
 }
 }

/* Question */
.sec-question { width: 100%; margin-bottom: 0 !important; } 
.question-box { width: 100%; height: 480px; background: url(../images/01/page-btm.png) no-repeat 50% 50%/cover; background-color: #111; display: flex; flex-direction: column; justify-content: center; align-items: center; } 
.question-text { margin: 16px 0 0; font-size: 20px; } 
.question-box .text-gradient { font-weight: 800; line-height: 2.125rem; font-size: 30px; } 
.question-box .question-text { font-weight: 600; line-height: 1.4919rem; } 

.sec-question a { width: 240px; margin: 25px 0 0; border: none; padding: 17px 0; line-height: 24px; font-weight: 700; font-size: 18px; } 
.sec-question a:hover { background-color: #fb0 !important; color: #0F2996; } 
.sec-question a:hover i { filter: invert(12%) sepia(67%) saturate(5408%) hue-rotate(233deg) brightness(80%) contrast(100%); } 
.sec-question a .icon { margin-right: .5rem; } 

/* -------------------------------------- 채용 --------------------------------------------------- */
.hire {overflow: hidden;}
.hire .main-title { margin-bottom: 3.125rem; } 
.hire .main-sub { font-size: 26px; margin-bottom: 1.875rem; } 
.hire .bx-wrp { display: flex; gap: 30px; } 
.hire .bx-wrp .bx { display: block;  } 
.hire .bx-wrp .bx .bx-img { width: auto; height: 193px; } 
.hire .bx-wrp .bx-content {width: auto; padding-top: 30px; } 
.agree .btn { position: static; width: 100%; font-size: 14px; color: #000; font-weight: 500; border: 1px solid #D1D1D1; background: #fff; margin-top: 10px;}
.agree .btn:hover { background: #D1D1D1 }

/* section */
.benefits { padding: 72px 0 84px; } 
.hiring { position: relative; display: flex; flex-direction: column; padding: 85px 0 75px; background-color: #FAFBFD; } 
.process { padding-top: 80px; margin-top: 0 !important; } 
.apply { padding: 4.1875rem 0 6.25rem; text-align: center; } 

/* talent */
.talent .main-sub { margin: 0; } 
.talent .bx .bx-img { width: 100%; height: 220px; overflow: hidden; } 
.talent .bx .bx-img img { width: 100%; height: 100%; object-fit: cover; } 
.talent .bx-content { margin-top: 1.25rem; text-align: left; } 
.talent .bx-title { line-height: 28px; margin-top: .375rem; margin-top: .375rem; font-weight: 700; } 
.talent .bx-sub { line-height: 1.75; font-size: 16px; color: #111; text-align: left; } 
.talent .bx-content span { font-weight: 600; } 

/* benefits */
.benefits .main-sub { margin: 0 0 1.9375rem; } 
.benefits .benefits-box { display: flex; flex-flow: row wrap; justify-content: space-between; gap: 20px; } 
.benefits-content { display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 1px; flex: 0 0 calc((100% - 20px)/2); height: 136px; background-color: #F6F6F6; } 
.benefits-content .icon { width: 80px; height: 80px; } 
.benefits-content p { font-weight: 600; padding-bottom: 3px; } 

/* hiring */
.hiring .main-sub { margin: .625rem auto 1.9375rem; } 
.hiring .top-square { position: absolute; left: 0; top: 0; width: 14.375rem; height: 14.375rem; background-color: #f2f3f8; border-bottom-right-radius: 89px; z-index: 0; } 
.hiring .bot-square { position: absolute; right: 0; bottom: 0; width: 14.375rem; height: 14.375rem; background-color: #f2f3f8; border-top-left-radius: 89px; z-index: 0; } 
.hiring .inner { z-index: 1; } 
.hiring-box { width: 100%; background-color: #fff;  padding: 30px; } 
.hiring-box { margin-top: .9375rem; } 
.hiring-box h2 { display: flex; align-items: center; font-size: 20px; font-weight: 700; } 
.hiring-box h2 i { width: 12px; height: 12px; margin-right: 6px; } 
.hiring-box p { font-weight: 700; padding-bottom: 10px; } 
.hiring-box .list-dot>li { color: #454545; } 
/* .hiring-box .list-dot>li:not(:last-child) { margin-bottom: 10px; }  */
.hiring-box .list-box:first-of-type { padding: 30px 0; } 

/* process */
.process .main-sub { margin: .625rem auto 1.9375rem; } 
.process-content { display: flex; flex-flow: column nowrap; justify-content: center; align-items: center; row-gap: 20px; } 
.process-content i { width: 30px; height: 30px; } 
.process-box { text-align: center; width: 100%; font-weight: 600; } 
.process-box img { margin-bottom: 8px; width: 100%; object-fit: cover; } 

.process-content.d-md-none .process-box div { padding:17px; font-size: 16px; font-weight: 700;}
.process-content.d-md-none .process-box:nth-of-type(1) div { background: #F6F6F6;}
.process-content.d-md-none .process-box:nth-of-type(2) div { background: #E8F4FF; }
.process-content.d-md-none .process-box:nth-of-type(3) div { background: #D5EBFF; }
.process-content.d-md-none .process-box:nth-of-type(4) div { background: #B3D7FF; }

.process-message { text-align: left; font-size: 14px; color: #888888; line-height: 20px; margin-top: 20px; } 


/* apply */
.apply h1 { font-size: 32px; font-weight: 700; line-height: 46px; padding-bottom: 1.875rem; } 
.apply-btn { display: flex; justify-content: center; column-gap: .625rem; } 
.apply-btn .btn { display: flex; align-items: center; justify-content: center; width: 9.6875rem; height: 3.5rem; padding: 0; line-height: normal; } 
.apply-btn .btn-fill { color: #fff; } 
 
.index #ct { background-color: #F2F3F8 !important } 
.index .main-img { width: 100%; height: 100vh; background-color: #0A185C; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover } 
.index .main-img .inner { height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; } 
.index .main-img .main-bg-text { font-size: 30px; text-align: center; line-height: 1.3; } 


.people-list li:not(:first-child) { margin-top: 10px; } 

/* Tablet */
@media (min-width: 768px) and (max-width: 991px){
 .pc-br { display: block !important; } 

 .index .main-img .main-bg-text { font-size: 44px; } 

 /* service */
 .storr-sec2 { display: none; } 
 .service-compo-mob { display: none; } 
 .service-compo-pc { position: relative; display: flex; flex-flow: column nowrap; justify-content: center; width: 100%; } 

 .index .service-compo-pc .main-block { padding-bottom: 56px; } 
 .service-pc .img-txt.txt-1 { width: 100%; top: 1.5%; margin-top: -9px; } 
 .service-pc .img-txt.txt-2 { left: 50%; top: 28%; margin-left: calc(27.5% + 15px); } 
 .service-pc .img-txt.txt-3 { left: 50%; top: 58%; margin-left: calc(32% + 15px); } 
 .service-pc .img-txt.txt-4 { width: 100%; left: 0%; bottom: calc(1.5% - 9px); margin-left: 11.5%; } 
 .service-pc .img-txt.txt-5 { width: 100%; right:0%; bottom: calc(1.5% - 9px); margin-right: 11%; } 
 .service-pc .img-txt.txt-6 { right: 50%; top: 58%; margin-right: calc(32% + 15px); } 
 .service-pc .img-txt.txt-7 { right: 50%; top: 28%; margin-right: calc(27.5% + 15px); } 
 /* why */
 section.sec-why { padding: 0 10px; } 
 /* servcice-02 */
 .sec-service-02 .bx-img { height: 157px; } 
 .sec-service-02 .bx-sub br { display: none; } 
 
}

@media (min-width: 768px) { 
/* service */
.service-pc { position: relative; overflow: hidden; } 
.service-compo-pc img { width: 100%; height: 100%; object-fit: cover; } 
.service-pc .img-txt { position:absolute; font-size: 16px; font-weight: 600; line-height: 23.87px; text-align: center; } 

/* 채용 - process */
.process-content { flex-flow: row; justify-content: space-between; align-items: center; } 
.process .icon { width: 24px; height: 24px; flex-shrink: 0; margin: -32px 6px 0; } 

.hire .hire-list {
    gap: 30px;
    flex-wrap: wrap;
    transform: none !important;
}

.hire .hire-list > li{
    flex-basis: calc((100% - 30px) / 2);
}

.hire .talent .bx-content{
  width: auto;
}

.hire .hire-list .bx{
    width: 100%;
}

.hire .talent .bx .bx-img{
  width: 100%;
  height: 193px;
}

.hire .hire-list .bx .bx-img img{
  width: 100%;
}
}

/* desktop */
@media (min-width: 992px) { 
  .hire .hire-list > li {
    flex-basis: calc((100% - 90px) / 4);
}

/* 불필요시 삭제 */
 .pc-br { display: block !important; } 
 .index .main-title { font-size: 18px; } 
 .index .main-sub { font-size: 32px; line-height: 46px; } 
 .index .main-block { padding-bottom: 40px; } 

 /* index */
 .index section { margin-top: 140px } 
 .index section.sec-media { margin-top: 100px; } 
.index .main-img, .question-box { height: 500px } 
.index .main-img .main-bg-text { font-size: 48px; line-height: 1.5; } 

 /* media */
 .sec-media .swiper-wrapper { transform: none !important; display: grid; grid-template-columns: repeat(3, 1fr); gap: 15px} 
 .question-box br, .sec-media .swiper-slide-duplicate{ display: none; } 
 .sec-media .swiper-slide{width: auto !important}
 
 /* Why */
 .why-separate { display: flex; justify-content: center; gap: 15px; } 
 .why-separate .bx { flex: 1; background: #fff; } 
 .why-separate .bx:not(:first-child) { margin: 0; } 
 
 /* service */
 .storr-sec2 { display: none; } 
 .service-pc .img-txt { font-size: 20px; } 
 .service-compo-pc img { width: 100%; height: 100%; object-fit: cover; } 
 .service-pc .img-txt { font-size: 20px; font-weight: 600; line-height: 23.87px; text-align: center; } 
 .service-pc .img-txt.txt-1 { width: 100%; top: 1.5%; margin-top: -9px; } 
 .service-pc .img-txt.txt-2 { left: 50%; top: 28%; margin-left: calc(27.5% + 19px); } 
 .service-pc .img-txt.txt-3 { left: 50%; top: 58%; margin-left: calc(32% + 19px); } 
 .service-pc .img-txt.txt-4 { width: 100%; left: 0%; bottom: calc(1.5% - 13px); margin-left: 11.5%; } 
 .service-pc .img-txt.txt-5 { width: 100%; right:0%; bottom: calc(1.5% - 13px); margin-right: 11%; } 
 .service-pc .img-txt.txt-6 { right: 50%; top: 58%; margin-right: calc(32% + 19px); } 
 .service-pc .img-txt.txt-7 { right: 50%; top: 28%; margin-right: calc(27.5% + 19px); } 

 /* analyze */
 /* tab */ 
 .analyze-system .dropdown { display: none; } 
 .nav li:not(:last-child) { margin: 0; } 
 .analyze-system .tab-container { width: 100%; display: flex; gap: 30px; font-size: 18px; } 
 .analyze-system .tab-content { height: 100%; flex: 1; background-color: #fff; } 
 .analyze-system .badge-content { padding-bottom: 20px; } 
 
 
 .index .analyze-btn-group { display: flex; flex-direction: column; align-items: center; background-color: #fff; border: 0; } 
 .index .analyze-pc-btn { display: flex; align-items: center; width: 262px; height: 50px; padding: 0 16px; font-weight: 600; border-left: 3px solid transparent; color: #111; } 
 .index .analyze-pc-btn.active { background-color: #EFF9FF; color: #42C0FF; border-left-color: #42C0FF; } 
 .index .analyze-pc-btn .icon { margin-right: 6px; } 
 .index .analyze-pc-btn.active .icon { filter: invert(68%) sepia(72%) saturate(3570%) hue-rotate(185deg) brightness(105%) contrast(101%); } 
 .analyze-flex { display: flex; gap: 30px; } 
 .sec-service-02 .analyze-system .cnt-box { margin-top: 0; } 
 /* .analyze-system .analyze-flex .cnt-box { padding: 24px 39px; } */
 .analyze-system .analyze-flex .cnt-text { padding: 0; } 
 .analyze-system .analyze-flex .cnt-img { padding: 18px 0 0; } 
 /* .analyze-system .analyze-flex .cnt-img img { height: 330px; } */
 .sec-service-02 .tab-pane { height: 100%; padding: 24px 40px; } 

 .sec-service-02 .tab-content .cnt-box { margin-top: 0px; padding: 0; display: flex; flex-direction: column; height: 100%; } 
 .sec-service-02 .tab-content .cnt-img { padding: 0; margin-top: 10px; border: 1px solid #d1d1d1; height: 100%; max-height: 332px;} 
 .sec-service-02 .tab-content .cnt-img img { height: 100%; object-fit:contain; border: none; padding: none; } 

 .analyze-system .cnt-box.content-btm { display: flex; justify-content: space-between; align-items: center; margin-top: 40px; padding: 0 } 
 .analyze-system .cnt-box.content-btm .cnt-text { padding: 0; margin-left: 16px; max-width: 550px; } 
 .analyze-system .cnt-box.content-btm .d-lg-block { margin-right: 56px; max-width: 428px; } 
 .sec-service-02 .analyze-system .panel.cnt-img.panel { width: 308px; height: 100%; padding: 0; padding-left: 58.96px; background: url(../images/01/system-bg.png) no-repeat; background-size: 100% 100%; } 
 .sec-service-02 .panel .top-panel { margin-top: 17.5px; width: 308px; } 
 .sec-service-02 .analyze-system .panel.cnt-img.panel img { max-width: 308px; } 
 .analyze-system .cnt-box.content-btm .cnt-img.panel .system-bg { display: block; } 
 
 
 .sec-service-02 .analyze-system .cnt-text .cnt-sub { font-size: 18px; } 
 
 /* .list-dot>li:not(:first-child), .list-dot>a:not(:first-child) { margin-top: 15px; } */
 /* question */
 .question-box .text-gradient { font-size: 40px; font-weight: 800; line-height: 50px; } 
 .sec-question button { margin: 2.5rem 0 0; padding: 20px 0; font-size: 18px; } 
 


 /* 채용 */
 /* section */
 .benefits,
 .hiring,
 .process { padding: 5.625rem 0 7.5rem; margin: 0; } 
 .apply { padding: 3.125rem 0 6.25rem; margin: 0; } 

 .hire .hiring{
    padding: 120px 0;
 }
 .hire .process{
  padding: 100px 0 120px;
 }

 .hire .apply{
  padding-top: 0;
 }

 .hire .apply h1{
  font-size: 26px;
  line-height: 1;
 }

 .hire .apply .btn-light-blue{
  color : #0f2996;
 }
 /* talent */
 .talent .bx .bx-img { width: 34.6875rem; } 
 .talent .bx .bx-img img { width: 34.6875rem; object-fit: cover; } 
 .talent .bx-sub { margin-top: 16px; } 
 .talent .bx-content { margin-top: 0; width: 525px; } 
 .talent .main-sub,
 .benefits .main-sub,
 .hiring .main-sub { margin: 1.25rem 0 1.875rem; } 
 .hire .hiring .main-sub{
  margin-top: 0;
 }
 
 /* benefits */
 .benefits .benefits-box { padding: 0; } 
 .benefits-content { display: flex; flex-direction: column; justify-content: space-between; align-items: center; flex: 1 0 11.92%; height: 136px; background-color: #F6F6F6; padding: 14px 0 17px; } 
 .benefits-content p { padding: 0; line-height: 24px; } 
 /* hiring */
 .hiring .top-square { width: 55%; height: 85%; max-width: 833px; max-height: 488px; border-bottom-right-radius: 100%; } 
 .hiring .bot-square { width: 55%; height: 85%; max-width: 833px; max-height: 488px; border-top-left-radius: 100%; } 
 .hiring-box-wrp { display: flex; justify-content: center; gap: 1.875rem; } 
 .hiring-box { margin-top: 0; } 

 /* process */
 .process-message { margin-top: 24px; } 

 /* apply */
 /* .apply h1 { padding-bottom: 50px; }  */
 .apply-btn { column-gap: 3.125rem; } 
 .apply-btn .btn { width: 15rem; height: 3.125rem; } 
 }

 @media (min-width: 992px) and (max-width: 1120px){
   .index .main-img .main-bg-text{   font-size: 40px;
   }
}

@media (min-width: 534px) and (max-width: 688px){
 .benefits .benefits-box { justify-content: start; } 
 .benefits-content { flex: 0 0 calc((100% - 40px)/3); } 
 }

@media (min-width: 689px) and (max-width: 991px){
 .benefits .benefits-box { justify-content: start; } 
 .benefits-content { flex: 0 0 calc((100% - 60px)/4); } 
 }

@media (min-width: 1200px){
 .index .flex-container, .why-separate, .sec-service-02 .big-data { gap: 30px } 
 .people-btm { gap: 30px; margin-top: 30px; } 

 .people-btm { grid-template-columns: repeat(3, 1fr); } 
 .people-btm .people-img { grid-area: 1 / 2 / 2 / 4 } 
 .people-list { padding: 0 20px; } 

 .sec-media .swiper-wrapper{gap: 30px}
 }

@media (max-width: 991px){
  .index #ct { margin-top: 0; } 
  .index .main-swiper .swiper-pagination-bullets.swiper-pagination-horizontal { bottom: 40px } 

  .sec-media .swiper-pagination { position: static; margin-top: 18px; } 
  .index .main-block { padding-bottom: 25px; } 
  .sec-why .bx-content { padding: 27px 20px; } 
  .sec-why .bx-sub { margin-top: 12px; } 

  .sec-service-02 .tab-content .cnt-box { background: #fff; } 

  .sec-service-02 .bx-content { padding: 22px } 
  .index .flex-item .bx-content p, .sec-service-02 .bx-sub { font-size: 16px; } 
  .analyze-system .badge-content { padding-bottom: 18px; } 

  /* 채용 */
  .process-message {font-size: 12px;}
  .process-content {row-gap: 5px;}

  .hire .main-title {font-size: 24px; margin: 53px 0 57px;}
  .hire .main-sub {font-size: 22px; margin-bottom: 30px;}
  .hire .talent .bx-content{
  margin-top: 20px;
  padding: 0;
  }
  .hire .talent .bx-content p{
  margin-top: 10px;
  }
  /* .hire .bx-content:not(.no-title) {padding: 0 0 15px 0;} */
  .hire .bx-content span {font-size: 16px;}

  .hire .grow-swiper {padding-bottom: 0; width: 100%; margin: 35px auto 0;}
  .hire .grow-swiper img {border-radius: 0; display: block; margin: 0 auto 25px;}
  /* .hire .swiper-slide .bx-content { margin: 0 0 25px; } */

  .hiring-box h2 {font-size: 18px;}
  .hiring-box .list-box:first-of-type { padding: 16px 0; } 

  .apply h1{font-size: 22px;padding-bottom: 15px;}

}

@media (max-width: 767px){

.index .flex-container { display: block; border-bottom: 1px solid #D1D1D1; } 
.index .flex-container>.flex-item { border-top: 1px solid #D1D1D1; } 
.index .flex-container .bx-content { display: flex; align-items: center; text-align: left; padding: 23px 0; } 
.index .flex-container .bx-title { width: 44%; max-width: 140px; flex-shrink: 0; padding-left: 20px; } 
.index .flex-item .bx-content p { flex: 1; text-align: left; } 
.index .sec-business .flex-item .bx-content p{ margin-top: 0; }
.index .flex-item .bx-content strong { font-size: 48px; line-height: 54px; } 
.index .flex-item .bx-content strong+span { font-size: 16px; margin-left: 2px; } 

 .index .main-img .main-bg-text .text-ylw{ letter-spacing: -0.05em;
}

 .people-btm { margin-top: 0; display: block; border-bottom: 1px solid #d1d1d1; } 
 .people-list { height: auto; padding: 20px; } 
 .question-box .text-gradient { font-size: 26px; } 
 .question-box .question-text { margin-top: 20px; } 
 .sec-question a { margin-top: 36px; font-size: 16px; } 
 .sec-why .bx-title { font-size: 18px; } 
 .sec-why .bx-sub { font-size: 14px; } 
 .people-list li { font-size: 14px;  } 

 .sec-service-mo { margin: 0 -20px; overflow: hidden; } 
 .ser-swiper { width: 66.66%; margin: 35px auto 0; text-align: center; font-size: 18px; overflow: visible; font-weight: 600; } 
 .ser-swiper img { display: block; margin: 0 auto 25px; } 
 [class*=swiper-slide-shadow] { display: none; } 
 .ser-swiper .swiper-pagination { position: static; margin-top: 28px; } 
 .ser-swiper .swiper-slide:not(.swiper-slide-active) img { transform: scale(.55); } 
 .ser-swiper .swiper-slide-prev img { transform-origin: center right; } 
 .ser-swiper .swiper-slide-next img { transform-origin: center left; } 


 .analyze-flex .tab-pane { word-break: keep-all; } 
 .analyze-flex .tab-pane br { display: none; } 

   /* 채용 */
.icon-arrow-right { transform: rotate(90deg); }   
/* .hire .swiper-slide .bx-content {margin: 0 0 25px; width: 317px; height: 175px;}   */
 }

@media (max-width: 557px){
 .main-swiper [class*=swiper-button] { width: 14px; height: 28px; background-size: contain; top: auto; bottom: 32px } 
 }
