@charset "UTF-8";

#fullpage > .section{ height: 100vh; }

.sc_intro {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Couture", "Noto Sans KR", sans-serif;
}
.sc_intro .bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
}
.sc_intro .sc_title {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  text-align: center;
  line-height: 1.4;
  font-weight: 500;
}
.sc_intro .sc_title span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.sc_intro .sc_title span:last-child {
  font-size: 6vw;
  letter-spacing: 2px;
}

.sc_about {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}
.sc_about .sc_title {
  font-size: 38px;
  line-height: 1.8;
  font-weight: 300;
}
.sc_about .sc_title strong {
  font-weight: 600;
}
.sc_about .desc {
  margin: 100px 0;
  font-size: 18px;
  line-height: 1.7;
}
@media (max-width: 768px) {
  .sc_about .sc_title {
    font-size: 22px;
  }
  .sc_about .desc {
    font-size: 16px;
  }
}
.sc_works{
  background-color: #fdfd96;
}

.sc_works .sc_title {
  font-weight: bold;
  font-size: 6rem;
  text-align: center;
  padding-bottom: 3.125rem;
  letter-spacing: 1vw;
}
@media (max-width: 768px) {
  .sc_works .sc_title {
    font-size: 3.5rem;
  }
}
.sc_works .swiper-slide{
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: calc(100vh - 21px);
    max-height: 650px;
    width: 100%;
    position: relative;
    transition: all .5s 0s;
    cursor: pointer;
    background-color: white;
  }
  
  .sc_works .swiper-slide:hover{
      background-color: #111c;
      background-blend-mode: multiply;
      color: white;
      background-position: center;
  }
  
  .sc_works .swiper-slide .img {
      width: 100%;
      height: 100%;
  }
  
  .sc_works .swiper-slide .title {
      text-align: left;
      padding: 20px;
  }
  
  .sc_works .swiper-slide .name {
      font-size: 18px;
      font-weight: bold;
      color: transparent;
      transition: all .3s 0s;
  }
  
  .sc_works .swiper-slide:hover .img .title .name {
      color: white;
  }
  
  .sc_works .swiper-slide .sub {
      color: transparent;
      transition: all .3s 0s;
  }
  
  .sc_works .swiper-slide:hover .img .title .sub {
      color: #bbb;
  }
  
  .sc_works .swiper-slide .button {
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      background-color: #111;
      line-height: 50px;
      transition: all .3s 0s;
      text-align: center;
  }
  
  .sc_works .swiper-slide:hover .button {
      background-color: #fff;
      color: #000;
  }
  
  .sc_works .swiper-slide:nth-child(1){ background-image: url(../images/hycu-1.png); }
  .sc_works .swiper-slide:nth-child(2){ background-image: url(../images/urscope-1.png); }
  .sc_works .swiper-slide:nth-child(3){ background-image: url(../images/kmr-1.png); }
  .sc_works .swiper-slide:nth-child(4){ background-image: url(../images/corfa1.jpg); }
  .sc_works .swiper-slide:nth-child(5){ background-image: url(../images/landing1.jpg); }
  .sc_works .swiper-slide:nth-child(6){ background-image: url(../images/smartppt1.jpg)}
  .sc_works .swiper-slide:nth-child(7){ background-image: url(../images/aidt1.jpg)}
  .sc_works .swiper-slide:nth-child(8){ background-image: url(../images/iscream1.jpg)}
  .sc_works .swiper-slide:nth-child(9){ background-image: url(../images/mmath1.jpg)}
  
  .sc_works .swiper-pagination{ position: static; margin-top: 10px; }
  .sc_works .swiper-pagination-bullet{ width: 12px; height: 12px; }