/*
Error: Invalid CSS after "...emove-unit(math": expected ")", was ".div($px, $base..."
        on line 6 of scss/abstracts/_functions.scss
        from line 5 of scss/style.scss

1: @use "sass:math";
2: @use "sass:map";
3: 
4: // ===== UNIT CONVERSION FUNCTIONS =====
5: @function rem($px, $base: $base-rem) {
6:     @return (remove-unit(math.div($px, $base))) * 1rem;
7: }
8: 
9: @function remove-unit($value) {
10:     @return math.div($value, $value * 0 + 1);
11: }

Backtrace:
scss/abstracts/_functions.scss:6
scss/style.scss:5
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/lexer.rb:240:in `expected!'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:862:in `assert_tok'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:644:in `funcall'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:531:in `css_min_max'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:507:in `ident'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_not'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_div'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_minus'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_plus'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `times_div_or_mod'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `plus_or_minus'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `relational'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `eq_or_neq'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `and_expr'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `or_expr'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:481:in `space'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:422:in `interpolation'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:320:in `map'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:794:in `block in paren'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:904:in `without_stop_at'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:792:in `paren'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:746:in `square_list'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:733:in `special_fun'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:727:in `raw'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:642:in `funcall'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:531:in `css_min_max'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:507:in `ident'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_not'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_div'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_minus'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_plus'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `times_div_or_mod'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `plus_or_minus'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `relational'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `eq_or_neq'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `and_expr'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `or_expr'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:481:in `space'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:422:in `interpolation'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:343:in `expr'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:853:in `assert_expr'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/script/parser.rb:68:in `parse'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1164:in `sass_script'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:276:in `return_directive'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:234:in `special_directive'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:209:in `directive'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:706:in `block_child'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:697:in `block_contents'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in `block'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:272:in `function_directive'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:234:in `special_directive'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:209:in `directive'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in `block_child'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in `parse'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/engine.rb:321:in `to_tree'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `block in with_import'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `with_import'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
C:/Users/ilsangeasy03/.local/share/gem/ruby/3.3.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
C:/Users/ilsangeasy03/AppData/Local/Microsoft/WindowsApps/sass:32:in `load'
C:/Users/ilsangeasy03/AppData/Local/Microsoft/WindowsApps/sass:32:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...emove-unit(math\": expected \")\", was \".div($px, $base...\"\A         on line 6 of scss/abstracts/_functions.scss\A         from line 5 of scss/style.scss\A \A 1: @use \"sass:math\";\A 2: @use \"sass:map\";\A 3: \A 4: // ===== UNIT CONVERSION FUNCTIONS =====\A 5: @function rem($px, $base: $base-rem) {\A 6:     @return (remove-unit(math.div($px, $base))) * 1rem;\A 7: }\A 8: \A 9: @function remove-unit($value) {\A 10:     @return math.div($value, $value * 0 + 1);\A 11: }"; }
